<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/30eddcd4-e205-4f9a-a9d6-5af77a0fc70f/resourceGroups/RuletaApi/providers/Microsoft.ContainerRegistry/registries/RuletaApicr</ResourceId>
    <ResourceName>RuletaApicr</ResourceName>
    <ResourceGroup>RuletaApi</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://ruletaapicr.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>19cbc5ba-74ea-43b2-9731-ef4fa6e2d229</ProjectGuid>
  </PropertyGroup>
</Project>